set timeout=5
set default=0

menuentry "exdbnein — установка Debian (по умолчанию)" {
  search --no-floppy --set=root --label EXDBNEIN_LIVE
  linux /live/vmlinuz boot=live quiet
  initrd /live/initrd.img
}

menuentry "exdbnein — установка Debian (verbose)" {
  search --no-floppy --set=root --label EXDBNEIN_LIVE
  linux /live/vmlinuz boot=live
  initrd /live/initrd.img
}